In [1]:
import pandas as pd

In [6]:
newest = pd.read_csv("fastapi-server/newest_data.csv")
forecasted_data = pd.read_csv("fastapi-server/forecasted_pollutant.csv")

In [7]:
newest.head()

,Carbon_monoxide,District,Dust,Location_id,Nitrogen_dioxide,Ozone,Pm10,Pm2_5,Sulphur_dioxide,date
0,97.0,Bahawalpur,3575.0,39.0,1.3,51.0,1531.1,212.3,1.5,2024-06-20 00:00:00
1,97.0,Bahawalpur,3385.0,39.0,1.2,52.0,1624.2,220.3,1.6,2024-06-20 01:00:00
2,96.0,Bahawalpur,3106.0,39.0,1.1,53.0,1475.2,204.0,1.8,2024-06-20 02:00:00
3,97.0,Bahawalpur,2785.0,39.0,1.0,56.0,1203.3,178.3,2.0,2024-06-20 03:00:00
4,99.0,Bahawalpur,2369.0,39.0,0.8,64.0,912.7,142.0,2.1,2024-06-20 04:00:00

In [10]:
newest.tail()

,Carbon_monoxide,District,Dust,Location_id,Nitrogen_dioxide,Ozone,Pm10,Pm2_5,Sulphur_dioxide,date
511195,677.0,Attock,0.0,233.0,41.7,20.0,33.4,23.6,4.8,2024-08-29 19:00:00
511196,618.0,Attock,0.0,233.0,38.1,21.0,31.8,22.5,4.3,2024-08-29 20:00:00
511197,561.0,Attock,0.0,233.0,34.4,23.0,29.9,21.2,3.9,2024-08-29 21:00:00
511198,518.0,Attock,0.0,233.0,31.1,24.0,28.8,20.4,3.7,2024-08-29 22:00:00
511199,478.0,Attock,0.0,233.0,27.6,26.0,28.2,20.0,3.6,2024-08-29 23:00:00

In [11]:
# calculating Aqi in the newest dataframe
newest['Aqi'] = newest['Pm2_5'] * 0.25 + newest['Pm10'] * 0.25 + newest['Nitrogen_dioxide'] * 0.15 + newest['Sulphur_dioxide'] * 0.1 + newest['Carbon_monoxide'] * 0.1 + newest['Ozone'] * 0.1 + newest['Dust'] * 0.05
newest.head()

,Carbon_monoxide,District,Dust,Location_id,Nitrogen_dioxide,Ozone,Pm10,Pm2_5,Sulphur_dioxide,date,Aqi
0,97.0,Bahawalpur,3575.0,39.0,1.3,51.0,1531.1,212.3,1.5,2024-06-20 00:00:00,629.745
1,97.0,Bahawalpur,3385.0,39.0,1.2,52.0,1624.2,220.3,1.6,2024-06-20 01:00:00,645.615
2,96.0,Bahawalpur,3106.0,39.0,1.1,53.0,1475.2,204.0,1.8,2024-06-20 02:00:00,590.345
3,97.0,Bahawalpur,2785.0,39.0,1.0,56.0,1203.3,178.3,2.0,2024-06-20 03:00:00,500.300
4,99.0,Bahawalpur,2369.0,39.0,0.8,64.0,912.7,142.0,2.1,2024-06-20 04:00:00,398.755

In [9]:
forecasted_data.head()
# renaming the unnamed: 0 column to date
forecasted_data.rename(columns = {'Unnamed: 0':'date'}, inplace = True)
forecasted_data.head()

,date,Aqi,Carbon_monoxide,District,Dust,Location_id,Nitrogen_dioxide,Ozone,Pm_10,Pm_25,Sulphur_dioxide
0,2024-08-30 00:00:00,54.052715,316.42963,Khushab,5.190775,1.0,11.468518,65.81870,28.621143,23.496775,8.185819
1,2024-08-30 01:00:00,49.083527,277.30270,Khushab,5.325994,1.0,10.229082,69.58584,25.529179,21.630060,8.042004
2,2024-08-30 02:00:00,44.646748,240.51987,Khushab,5.115845,1.0,9.202642,74.87666,22.789864,19.954110,7.849157
3,2024-08-30 03:00:00,42.378590,218.79628,Khushab,5.035190,1.0,7.637635,82.06952,20.944279,19.478315,7.889564
4,2024-08-30 04:00:00,41.248775,204.79652,Khushab,4.656978,1.0,5.844415,92.33307,19.408606,19.097107,7.998765

In [13]:
# filtering both data to have only the date, District and Aqi columns
newest_filtered = newest[['date', 'District', 'Aqi']]
forecasted_data_filtered = forecasted_data[['date', 'District', 'Aqi']]

# concatenating the filtered dataframes
combined_data = pd.concat([newest_filtered, forecasted_data_filtered], ignore_index=True)
combined_data.head()

                  date    District      Aqi
0  2024-06-20 00:00:00  Bahawalpur  629.745
1  2024-06-20 01:00:00  Bahawalpur  645.615
2  2024-06-20 02:00:00  Bahawalpur  590.345
3  2024-06-20 03:00:00  Bahawalpur  500.300
4  2024-06-20 04:00:00  Bahawalpur  398.755

In [14]:
combined_data

                        date    District         Aqi
0        2024-06-20 00:00:00  Bahawalpur  629.745000
1        2024-06-20 01:00:00  Bahawalpur  645.615000
2        2024-06-20 02:00:00  Bahawalpur  590.345000
3        2024-06-20 03:00:00  Bahawalpur  500.300000
4        2024-06-20 04:00:00  Bahawalpur  398.755000
...                      ...         ...         ...
1159195  2024-11-27 19:00:00    Mianwali   42.478313
1159196  2024-11-27 20:00:00    Mianwali   41.740273
1159197  2024-11-27 21:00:00    Mianwali   41.091465
1159198  2024-11-27 22:00:00    Mianwali   40.481663
1159199  2024-11-27 23:00:00    Mianwali   39.919620

[1159200 rows x 3 columns]

In [15]:
# converting the date column to datetime
combined_data['date'] = pd.to_datetime(combined_data['date'])

combined_data.head()

                 date    District      Aqi
0 2024-06-20 00:00:00  Bahawalpur  629.745
1 2024-06-20 01:00:00  Bahawalpur  645.615
2 2024-06-20 02:00:00  Bahawalpur  590.345
3 2024-06-20 03:00:00  Bahawalpur  500.300
4 2024-06-20 04:00:00  Bahawalpur  398.755

In [27]:
# converting the data to daily by selecting the max in the day for that day
# this should be done for each district
# Group by 'district' and 'date', then select the max value for each group
daily_max = combined_data.groupby(['District', combined_data['date'].dt.date])['Aqi'].max().reset_index()

# Rename columns for clarity
daily_max.columns = ['District', 'date', 'Aqi']

daily_max.head()

  District        date      Aqi
0   Attock  2024-06-20   95.515
1   Attock  2024-06-21  140.210
2   Attock  2024-06-22  148.840
3   Attock  2024-06-23  134.930
4   Attock  2024-06-24  121.885

In [28]:
daily_max.shape

(5796, 3)

In [29]:
# saving the daily_max dataframe to a csv file
daily_max.to_csv("daily_historical_data.csv", index=False)

In [31]:
# creating a daily max version for the forecasted data
# selecting the columns to work with
forecasted_data_filtered = forecasted_data[['date', 'District', 'Aqi']]

# converting the date column to datetime
forecasted_data_filtered['date'] = pd.to_datetime(forecasted_data_filtered['date'])

# converting the data to daily by selecting the max in the day for that day
# this should be done for each district
daily_max_forecasted = forecasted_data_filtered.groupby(['District', forecasted_data_filtered['date'].dt.date])['Aqi'].max().reset_index()

# Rename columns for clarity
daily_max_forecasted.columns = ['District', 'date', 'Aqi']

daily_max_forecasted.head()

C:\Users\timmy_3aupohg\AppData\Local\Temp\ipykernel_24060\2306417717.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forecasted_data_filtered['date'] = pd.to_datetime(forecasted_data_filtered['date'])

  District        date        Aqi
0   Attock  2024-08-30  67.341170
1   Attock  2024-08-31  52.175205
2   Attock  2024-09-01  52.764244
3   Attock  2024-09-02  53.161450
4   Attock  2024-09-03  53.759235

In [32]:
# checking the shape of the daily_max_forecasted dataframe
daily_max_forecasted.shape

(3240, 3)

In [33]:
# saving the daily_max_forecasted dataframe to a csv file
daily_max_forecasted.to_csv("daily_forecasted_data.csv", index=False)