In [2]:
# !pip install psycopg2

In [1]:
import pandas as pd
import psycopg2
# Use psycopg2's execute_values for efficient bulk insert
from psycopg2.extras import execute_values
from psycopg2 import sql

In [2]:
# Database connection parameters (replace with actual credentials)
db_params = {
    'dbname': 'smog_db',
    'user': 'smog_dev',
    'password': 'kcSzXTAg1RSXktipRM9gN9cD32pGFN2k',
    'host': 'dpg-csnu6npu0jms73913fh0-a.oregon-postgres.render.com',
    'port': '5432'
}

In [3]:
# Establish the connection
conn = psycopg2.connect(**db_params)
conn.autocommit = True
cursor = conn.cursor()

In [4]:
# Function to list all tables
def list_tables():
    cursor.execute("""
        SELECT table_name 
        FROM information_schema.tables 
        WHERE table_schema = 'public';
    """)
    tables = cursor.fetchall()
    print("Tables in the database:")
    for table in tables:
        print(table[0])

In [5]:
list_tables()

Tables in the database:
combined_hourly_data

In [6]:
# Read the CSV file
file_path = 'combined_hourly_data.csv'
data = pd.read_csv(file_path)

In [7]:
# Pivot the data to have unique districts as columns
pivot_data = data.pivot_table(index=['date', 'hour'], columns='District', values='AQI', fill_value=None)
pivot_data.head(6)

District           Attock  Bahawalnagar  Bahawalpur  Bhakkar  Chakwal  \
date       hour
11/15/2024 10:00   89.590        74.700      99.855  180.090  116.535
           11:00   91.975        76.960      92.260  178.455  116.890
           12:00   99.530       122.645     117.070  182.415  139.250
           13:00  100.655       136.335     139.365  171.570  139.060
           14:00   98.000       152.590     167.385  150.310  138.465
           15:00   96.890       174.255     187.155  122.090  134.765

District          Chiniot  Dera Ghazi Khan  Faisalabad  Gujranwala   Gujrat  \
date       hour
11/15/2024 10:00  189.375          174.945     159.635     161.510  135.750
           11:00  198.205          161.255     194.490     165.470  134.815
           12:00  241.485          172.855     256.750     188.555  157.875
           13:00  289.395          178.560     296.360     207.560  172.225
           14:00  330.465          190.330     318.400     221.225  182.335
           15:00  335.950          202.285     315.140     226.480  184.380

District          ...  Pakpattan  Rahim Yar Khan  Rajanpur  Rawalpindi  \
date       hour   ...
11/15/2024 10:00  ...     78.500          93.115   112.065     145.925
           11:00  ...     87.215          88.845   103.535     220.875
           12:00  ...    144.225         111.275   118.115     293.135
           13:00  ...    182.005         126.160   128.670     310.255
           14:00  ...    227.145         148.090   148.865     301.445
           15:00  ...    258.950         166.880   166.320     275.610

District          Sahiwal  Sargodha  Sheikhupura  Sialkot  Toba Tek Singh  \
date       hour
11/15/2024 10:00   83.545   193.815      175.915  164.685         144.170
           11:00   86.485   198.395      196.615  171.610         148.520
           12:00  138.675   226.665      252.250  186.835         191.110
           13:00  164.870   214.125      286.820  204.770         227.325
           14:00  198.145   193.625      318.470  217.380         264.895
           15:00  221.650   189.280      328.955  222.620         254.140

District           Vehari
date       hour
11/15/2024 10:00   87.560
           11:00   89.740
           12:00  125.900
           13:00  159.690
           14:00  204.605
           15:00  236.910

[6 rows x 36 columns]

In [8]:
# Reset the index to flatten the DataFrame
pivot_data.reset_index(inplace=True)

In [9]:
pivot_data.head(6)

District,date,hour,Attock,Bahawalnagar,Bahawalpur,Bhakkar,Chakwal,Chiniot,Dera Ghazi Khan,Faisalabad,...,Pakpattan,Rahim Yar Khan,Rajanpur,Rawalpindi,Sahiwal,Sargodha,Sheikhupura,Sialkot,Toba Tek Singh,Vehari
0,11/15/2024,10:00,89.590,74.700,99.855,180.090,116.535,189.375,174.945,159.635,...,78.500,93.115,112.065,145.925,83.545,193.815,175.915,164.685,144.170,87.560
1,11/15/2024,11:00,91.975,76.960,92.260,178.455,116.890,198.205,161.255,194.490,...,87.215,88.845,103.535,220.875,86.485,198.395,196.615,171.610,148.520,89.740
2,11/15/2024,12:00,99.530,122.645,117.070,182.415,139.250,241.485,172.855,256.750,...,144.225,111.275,118.115,293.135,138.675,226.665,252.250,186.835,191.110,125.900
3,11/15/2024,13:00,100.655,136.335,139.365,171.570,139.060,289.395,178.560,296.360,...,182.005,126.160,128.670,310.255,164.870,214.125,286.820,204.770,227.325,159.690
4,11/15/2024,14:00,98.000,152.590,167.385,150.310,138.465,330.465,190.330,318.400,...,227.145,148.090,148.865,301.445,198.145,193.625,318.470,217.380,264.895,204.605
5,11/15/2024,15:00,96.890,174.255,187.155,122.090,134.765,335.950,202.285,315.140,...,258.950,166.880,166.320,275.610,221.650,189.280,328.955,222.620,254.140,236.910

In [10]:
# Get the list of columns (date, hour, and unique district names)
columns = pivot_data.columns.tolist()
columns

['date',
 'hour',
 'Attock',
 'Bahawalnagar',
 'Bahawalpur',
 'Bhakkar',
 'Chakwal',
 'Chiniot',
 'Dera Ghazi Khan',
 'Faisalabad',
 'Gujranwala',
 'Gujrat',
 'Hafizabad',
 'Jhang',
 'Jhelum',
 'Kasur',
 'Khanewal',
 'Khushab',
 'Lahore',
 'Layyah',
 'Lodhran',
 'Mandi Bahuddin',
 'Mianwali',
 'Multan',
 'Muzaffargarh',
 'Nankana Sahib',
 'Narowal',
 'Okara',
 'Pakpattan',
 'Rahim Yar Khan',
 'Rajanpur',
 'Rawalpindi',
 'Sahiwal',
 'Sargodha',
 'Sheikhupura',
 'Sialkot',
 'Toba Tek Singh',
 'Vehari']

In [11]:
# Create table with date, hour, and unique district columns
create_table_query = sql.SQL(
    "CREATE TABLE IF NOT EXISTS combined_hourly_data ("
    "date DATE, "
    "hour INTEGER, "
    + ", ".join([f'"{col}" FLOAT' for col in columns[2:]])
    + ");"
)

# Execute the query to create the table
cursor.execute(create_table_query)

In [12]:
# Alter the table to change the hour column to TIME with explicit casting
alter_table_query = """
    ALTER TABLE combined_hourly_data
    ALTER COLUMN hour TYPE TIME USING (LPAD(hour::text, 2, '0') || ':00')::time;
"""

cursor.execute(alter_table_query)

In [13]:
# Create the INSERT query with quoted column names
insert_query = sql.SQL(
    "INSERT INTO combined_hourly_data ({}) VALUES %s"
).format(
    sql.SQL(", ").join([sql.Identifier(col) for col in columns])
)

In [14]:
# Prepare data for insertion
values = [tuple(row) for row in pivot_data.to_numpy()]

In [16]:
execute_values(cursor, insert_query, values)

In [17]:
# Establish the connection
conn = psycopg2.connect(**db_params)
conn.autocommit = True
cursor = conn.cursor()

In [18]:
# Query to show the top 2 rows in the table
def show_top_rows():
    
    query = "SELECT * FROM combined_hourly_data LIMIT 25;"
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)

# Call the function to display the top 2 rows
show_top_rows()

(datetime.date(2024, 11, 7), datetime.time(0, 0), 169.505, 167.99, 180.7, 167.38, 136.85, 277.36, 148.595, 213.565, 201.095, 160.745, 275.16, 223.765, 156.205, 232.96, 193.295, 239.42, 247.08, 188.81, 191.32, 237.505, 161.57, 201.285, 200.26, 216.76, 147.595, 194.27, 159.395, 145.73, 89.95, 151.69, 171.44, 283.115, 534.43, 171.055, 175.105, 191.195)
(datetime.date(2024, 11, 7), datetime.time(10, 0), 162.065, 116.79, 93.865, 137.38, 168.75, 178.86, 162.505, 167.375, 200.315, 177.965, 203.36, 132.775, 175.985, 157.445, 102.015, 168.935, 236.435, 134.33, 85.065, 198.84, 145.34, 113.59, 133.645, 164.345, 165.075, 139.925, 114.785, 79.625, 124.615, 237.91, 118.72, 189.58, 227.235, 185.625, 124.455, 92.865)
(datetime.date(2024, 11, 7), datetime.time(11, 0), 180.93, 114.975, 96.315, 132.65, 173.815, 182.865, 174.92, 194.325, 209.42, 178.67, 206.005, 138.875, 173.295, 161.9, 102.72, 166.21, 315.475, 139.855, 86.67, 203.645, 142.47, 124.81, 139.3, 169.335, 170.72, 140.04, 124.29, 75.05, 124.555, 354.91, 119.13, 198.745, 287.775, 199.255, 132.065, 100.97)
(datetime.date(2024, 11, 7), datetime.time(12, 0), 212.61, 136.55, 119.195, 156.255, 184.52, 227.495, 208.065, 247.215, 229.6, 180.725, 237.11, 173.645, 173.48, 195.39, 124.33, 181.785, 435.135, 167.02, 105.86, 225.265, 163.375, 154.36, 166.69, 197.74, 192.0, 166.32, 150.57, 84.03, 140.795, 440.34, 143.26, 220.16, 359.035, 215.845, 160.36, 125.38)
(datetime.date(2024, 11, 7), datetime.time(13, 0), 269.325, 146.0, 141.58, 162.205, 190.795, 242.235, 209.015, 263.75, 248.915, 195.12, 247.745, 182.49, 192.3, 218.04, 144.53, 186.935, 591.435, 180.455, 129.525, 240.295, 169.565, 171.275, 175.245, 200.125, 212.505, 173.825, 158.305, 103.74, 148.16, 480.775, 151.23, 232.7, 394.835, 230.255, 164.455, 147.885)
(datetime.date(2024, 11, 7), datetime.time(14, 0), 335.83, 154.81, 169.7, 174.735, 197.22, 276.995, 235.81, 273.91, 268.435, 210.97, 258.895, 187.83, 213.465, 243.365, 172.61, 197.5, 765.08, 195.875, 164.43, 257.31, 177.385, 190.395, 202.61, 197.735, 232.91, 181.435, 160.78, 132.75, 157.905, 490.43, 185.845, 252.445, 418.28, 266.585, 163.085, 174.055)
(datetime.date(2024, 11, 7), datetime.time(15, 0), 375.905, 169.075, 193.31, 183.04, 202.895, 298.835, 257.665, 276.395, 280.57, 219.92, 264.135, 196.745, 227.635, 254.545, 195.725, 207.75, 853.22, 207.155, 190.89, 270.375, 183.205, 209.325, 219.865, 197.09, 245.785, 186.735, 159.085, 157.33, 171.9, 482.525, 209.09, 272.445, 429.02, 291.285, 163.225, 196.79)
(datetime.date(2024, 11, 7), datetime.time(16, 0), 369.025, 166.395, 205.26, 182.7, 205.865, 294.645, 271.4, 268.625, 281.12, 218.315, 260.845, 210.51, 231.685, 246.63, 213.66, 215.835, 791.09, 208.785, 199.16, 280.12, 183.74, 229.1, 225.56, 200.825, 244.175, 190.285, 156.19, 171.985, 192.83, 456.195, 206.34, 274.83, 429.39, 295.68, 165.11, 209.36)
(datetime.date(2024, 11, 7), datetime.time(17, 0), 338.865, 157.44, 226.425, 175.94, 206.215, 275.81, 276.575, 253.63, 274.155, 210.84, 252.11, 223.25, 229.78, 233.13, 237.315, 222.57, 649.69, 209.065, 210.485, 286.88, 181.815, 247.5, 239.485, 208.81, 242.695, 196.365, 155.595, 181.455, 215.36, 410.355, 188.88, 266.96, 430.815, 287.11, 167.58, 214.715)
(datetime.date(2024, 11, 7), datetime.time(18, 0), 313.505, 155.02, 239.775, 181.39, 204.18, 255.325, 265.795, 239.41, 264.675, 200.91, 242.325, 229.755, 223.625, 219.885, 250.82, 226.0, 515.345, 210.42, 226.84, 287.26, 179.495, 255.17, 244.97, 213.99, 241.58, 198.35, 154.54, 187.68, 228.775, 358.13, 172.075, 255.07, 439.165, 274.12, 168.0, 219.32)
(datetime.date(2024, 11, 7), datetime.time(19, 0), 307.965, 152.7, 238.49, 186.235, 200.22, 243.62, 230.82, 227.545, 251.935, 187.95, 232.98, 226.49, 214.385, 208.33, 249.755, 224.105, 407.775, 202.885, 234.945, 276.93, 173.415, 245.78, 238.345, 214.445, 231.935, 194.14, 151.88, 190.155, 226.015, 298.735, 166.715, 245.975, 381.325, 264.97, 165.71, 228.355)
(datetime.date(2024, 11, 7), datetime.time(1, 0), 173.64, 164.19, 165.64, 168.73, 137.535, 269.58, 148.96, 226.79, 194.22, 159.185, 267.68, 223.86, 162.345, 222.555, 179.95, 245.0, 251.705, 198.14, 190.395, 236.1, 164.005, 200.585, 202.425, 216.455, 148.035, 190.535, 162.935, 152.045, 93.19, 183.12, 172.955, 281.145, 436.265, 169.51, 176.6, 188.85)
(datetime.date(2024, 11, 7), datetime.time(20, 0), 295.25, 150.955, 231.3, 190.91, 195.76, 246.925, 212.71, 218.91, 242.255, 172.24, 226.94, 217.915, 202.83, 197.08, 240.525, 219.77, 305.47, 188.625, 243.675, 261.285, 170.84, 238.66, 224.435, 212.525, 218.365, 186.635, 149.03, 190.42, 214.095, 234.42, 165.565, 242.245, 300.9, 252.585, 163.38, 238.625)
(datetime.date(2024, 11, 7), datetime.time(21, 0), 282.965, 149.98, 222.7, 193.535, 194.465, 247.705, 205.67, 219.745, 234.1, 161.255, 223.04, 210.66, 193.445, 187.275, 225.65, 217.09, 230.905, 175.055, 249.78, 247.565, 167.995, 235.875, 207.57, 213.38, 207.505, 180.805, 147.77, 188.48, 198.19, 183.445, 164.635, 237.64, 274.265, 240.75, 161.645, 239.45)
(datetime.date(2024, 11, 7), datetime.time(22, 0), 273.4, 150.15, 213.94, 193.205, 192.585, 242.04, 186.27, 237.79, 225.53, 155.18, 222.63, 206.905, 183.875, 179.895, 205.445, 214.95, 204.79, 164.35, 256.395, 237.415, 163.665, 221.28, 194.995, 203.195, 204.185, 180.705, 148.355, 183.19, 176.655, 179.675, 163.665, 231.335, 246.71, 230.075, 159.98, 224.845)
(datetime.date(2024, 11, 7), datetime.time(23, 0), 264.2, 151.09, 203.85, 191.14, 188.94, 233.985, 160.67, 265.285, 217.825, 152.055, 221.85, 204.9, 174.53, 174.695, 182.425, 214.52, 190.515, 165.15, 260.03, 226.85, 162.445, 202.625, 190.79, 186.795, 202.835, 180.05, 149.95, 176.28, 175.545, 171.05, 162.56, 224.265, 216.44, 219.23, 158.56, 203.725)
(datetime.date(2024, 11, 7), datetime.time(2, 0), 190.385, 164.48, 148.05, 185.28, 159.695, 263.405, 150.2, 251.56, 191.145, 158.03, 264.08, 221.225, 182.98, 212.105, 174.745, 251.43, 291.385, 214.235, 194.345, 243.225, 170.575, 204.855, 210.09, 213.905, 150.82, 191.955, 174.57, 158.855, 112.325, 299.48, 177.895, 279.83, 396.905, 170.3, 181.73, 190.345)
(datetime.date(2024, 11, 7), datetime.time(3, 0), 206.725, 166.15, 133.755, 196.2, 175.215, 258.6, 151.375, 262.045, 189.95, 159.075, 260.24, 214.89, 192.625, 209.695, 175.59, 250.985, 311.83, 222.12, 191.66, 242.08, 175.085, 207.015, 212.42, 213.095, 151.205, 190.34, 180.01, 158.37, 130.405, 364.845, 178.975, 272.555, 421.02, 169.73, 182.265, 184.26)
(datetime.date(2024, 11, 7), datetime.time(4, 0), 194.63, 162.385, 125.775, 195.66, 170.655, 241.26, 151.92, 243.88, 189.53, 161.79, 255.82, 201.74, 176.32, 198.9, 166.44, 240.86, 283.72, 203.775, 171.255, 228.715, 176.53, 190.48, 197.775, 203.0, 146.05, 182.765, 174.23, 144.035, 130.355, 323.515, 175.535, 254.8, 366.625, 165.555, 174.085, 163.955)
(datetime.date(2024, 11, 7), datetime.time(5, 0), 172.565, 155.77, 121.51, 187.42, 166.245, 221.075, 152.255, 211.73, 192.65, 168.275, 262.205, 188.18, 160.805, 184.025, 152.62, 221.66, 235.91, 182.355, 140.355, 212.18, 179.805, 170.505, 179.505, 188.525, 141.145, 172.46, 161.73, 123.33, 133.61, 229.505, 167.96, 229.695, 295.505, 166.27, 160.625, 144.44)
(datetime.date(2024, 11, 7), datetime.time(6, 0), 160.415, 147.86, 109.46, 178.93, 164.895, 206.22, 158.78, 182.285, 201.805, 173.59, 259.505, 171.03, 165.66, 176.385, 137.19, 199.69, 202.495, 167.24, 115.63, 200.015, 174.33, 148.705, 164.85, 175.235, 149.695, 162.75, 145.81, 130.25, 137.705, 172.18, 154.9, 206.705, 244.905, 167.035, 144.67, 124.06)
(datetime.date(2024, 11, 7), datetime.time(7, 0), 160.145, 136.515, 96.26, 167.035, 170.1, 194.91, 152.985, 163.43, 206.01, 176.545, 238.92, 157.94, 172.015, 170.895, 121.91, 186.88, 183.615, 152.125, 103.065, 196.71, 165.25, 131.28, 155.785, 168.895, 157.945, 155.43, 130.435, 119.675, 137.45, 159.62, 141.325, 195.525, 216.22, 176.535, 132.13, 107.525)
(datetime.date(2024, 11, 7), datetime.time(8, 0), 159.27, 127.46, 93.855, 152.645, 169.035, 188.015, 152.175, 155.885, 203.65, 177.64, 210.9, 145.985, 176.34, 163.765, 111.665, 179.42, 171.945, 137.01, 93.45, 196.18, 156.405, 116.775, 145.95, 164.565, 160.93, 148.055, 119.825, 100.195, 132.42, 152.28, 129.405, 190.145, 197.1, 179.58, 124.12, 95.995)
(datetime.date(2024, 11, 7), datetime.time(9, 0), 154.04, 120.86, 93.875, 143.805, 167.05, 183.57, 158.565, 152.25, 200.115, 178.03, 204.07, 137.5, 177.71, 159.8, 105.34, 173.51, 186.485, 132.875, 87.635, 196.755, 150.135, 109.5, 138.57, 162.4, 163.205, 142.455, 113.91, 85.705, 126.87, 155.085, 121.415, 187.65, 189.985, 180.24, 120.965, 90.645)
(datetime.date(2024, 11, 8), datetime.time(0, 0), 249.82, 152.83, 201.27, 191.435, 188.0, 245.36, 140.66, 286.16, 217.6, 153.365, 222.1, 204.185, 171.78, 171.035, 170.93, 216.775, 199.55, 164.82, 249.39, 226.525, 170.875, 192.62, 176.88, 174.835, 200.45, 179.215, 153.05, 181.975, 172.42, 165.19, 163.835, 218.475, 198.45, 214.38, 159.265, 195.63)

In [19]:
# Execute the ALTER TABLE command to add a unique constraint on date and hour
alter_table_query = """
    ALTER TABLE combined_hourly_data
    ADD CONSTRAINT unique_date_hour UNIQUE (date, hour);
"""

try:
    cursor.execute(alter_table_query)
    conn.commit()
    print("Unique constraint on (date, hour) added successfully.")
except psycopg2.Error as e:
    print("An error occurred:", e)
finally:
    cursor.close()
    conn.close()

An error occurred: relation "unique_date_hour" already exists

In [25]:
def get_last_24_hours(district):
    # Establish the connection
    conn = psycopg2.connect(**db_params)
    conn.autocommit = True
    cursor = conn.cursor()

    query = sql.SQL("""
        SELECT date, hour, {}
        FROM combined_hourly_data
        WHERE {} IS NOT NULL
        ORDER BY date DESC, hour DESC
        LIMIT 24
    """).format(sql.Identifier(district), sql.Identifier(district))

    cursor.execute(query)
    rows = cursor.fetchall()

    # Extract only the hourly values into a single array
    hourly_values = [row[2] for row in rows]
    
    # Close the connection
    cursor.close()
    conn.close()

    return hourly_values

# Example usage
get_last_24_hours('Attock')

[94.89500000000001,
 115.125,
 110.6,
 100.985,
 95.665,
 93.895,
 94.955,
 97.44,
 99.77,
 101.935,
 102.295,
 100.685,
 98.46,
 96.89,
 98.0,
 100.655,
 99.53,
 91.975,
 89.59,
 91.945,
 94.245,
 93.98,
 94.245,
 93.07]

In [27]:
import datetime

In [43]:
def fetch_hourly_aqi_from_db(district: str, date: str, db_params=db_params):
    """
    Query the database for hourly AQI data for a specified district and date.
    
    Args:
        district: Name of the district (column name for AQI data).
        date: Date in MM/DD/YYYY format.
        db_params: Dictionary containing database connection parameters.
    
    Returns:
        Tuple of hours and AQI values.
    """
    try:
        # Convert date string to date object
        query_date = datetime.datetime.strptime(date, "%m/%d/%Y").date()
        
        # Establish the connection
        conn = psycopg2.connect(**db_params)
        conn.autocommit = True
        cursor = conn.cursor()

        # Construct the SQL query
        query = sql.SQL("""
            SELECT hour, {}
            FROM combined_hourly_data
            WHERE date = %s
            ORDER BY hour
        """).format(sql.Identifier(district))  # Dynamically select the column based on district
        
        # Execute the query with date as the parameter
        cursor.execute(query, (query_date,))
        rows = cursor.fetchall()
        
        # Close the connection
        cursor.close()
        conn.close()

        # Format hours as strings like "0:00", "1:00", etc., and extract AQI values
        if rows:
            hours = [f"{row[0].hour}:00" for row in rows]  # Format hours as strings
            aqi_values = [row[1] for row in rows]           # Extract AQI values for the district column
            return hours, aqi_values
        else:
            return None, None

    except Exception as e:
        raise Exception(f"Database query failed: {e}")

In [44]:
print(fetch_hourly_aqi_from_db("Attock", "11/16/2024"))

(['0:00', '1:00', '2:00', '3:00', '4:00'], [95.665, 100.985, 110.6, 115.125, 94.89500000000001])